body {
    background-color: #F2F1E8;
    margin: .5em 0;
}

p, q {
    line-height: 1.5em;
    font-size: 1.25em;
}

h3 {
    font-size: 1.75em;
    font-weight: 300;
    margin-bottom: 0;
}

table {
    width: 75%;
    margin: 2em 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #F2EADD;
}

th, td {
    border: 1px solid black;
    padding: 1em;
}

.navbar {
    background-color: white;
    display: flex;
    box-shadow: 0 2px 3px #999;
}

.logo {
    width: 2em;
    height: 2em;
    margin: 1em;
}

.navlinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4em; 
}

.links {
    color: black;
    margin: 0 2em;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    font-size: 4em;
    margin: 1em 0 1em 0;
}

.about, .information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-studio, .history, .facilities, .plans {
    width: 70%;
}

.birdhouse {
    width: 7em;
    height: auto;
    float: left;
    margin-right: .5em;
}

.our-studio {
    margin: 0;
}

.quote {
    font-style: italic;
    margin: 2em 0;
    border-left: 1px solid grey;
    padding-left: 2em;
    width: 68%;
}

.jenn {
    margin: 0;
}

.grow {
    height: 35vh;
    background-image: url("./images/background-3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.roomToGrow {
    margin: 0;
    font-size: 5em;
    color: white;
    font-weight: 100;
}

.dedication {
    color: #8E857E;
}

.facility-description {
    width: 75%;
    padding-right: 2em;
}

.facility-info {
    display: flex;
}

.facility-image {
    width: 25%;
    margin-top: 2em;
}

.shelf {
    width: 100%;
    height: auto;
}

.shelf-description {
    margin: 0;
    font-size: .75em;
}

.footer {
    background-color: #2B2F26;
    color: #F7F6EC;
    padding: 2em;
}