/* body tags have an applied margin */
body {
    background-color: #F2F1E8;
    margin: .5em 0;
}

span {
    background-color: #2B2F26;
    color: #EEECD3;
    padding: .5em;
    position: relative;
    bottom: 40px;
}

.navbar {
    background-color: white;
    display: flex;
    box-shadow: 0 2px 3px #999;
}

.logo {
    width: 2em;
    height: 2em;
    margin: 1em;
}

.navlinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4em; 
}

.links {
    color: black;
    margin: 0 2em;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    font-size: 4em;
    margin: 1em 0 0 0;
}

.secondaryTitle {
    font-size: 2.5em;
    font-weight: 100;
    margin: 0 0 2em 0;
}

.section1 {
    display: flex;
    margin: 0 1em;
}

.pots {
    width: 60%;
    margin: 0 .5em;
}


.bowls {
    width: 20%;
    margin: 0 .5em;
}

.platter {
    width: 20%;
    margin: 0 .5em;
}

.product-1, .product-2, .product-3 {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.section2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 0 1em;
}

.twos {
     grid-column: span 2;
}

.product-4, .product-5, .product-6, .product-7 {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.product-6 {
    object-fit: cover;
    object-position: 50% 20%;
}

.mug, .vase, .twos, .mugs2 {
    margin: 0 .5em;
}

.footer {
    background-color: #2B2F26;
    color: #F7F6EC;
    padding: 2em;
}